@font-face {
	font-family: 'Twemoji';
	src: url('../fonts/twemojisvg.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TwemojiColr';
	src: url('../fonts/twemojicolr.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}